body{
    background: url(image/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a:hover{
    color:red;
}
button{
    cursor: pointer;
}
.write-in-border{
    width:30px;
    margin-top:-10px !important;
    margin-left:5px;
    background-color: #decd8d;
}
.border-line{
    margin-left: 20px;
    margin-right: 20px;
    min-height: 50px;
    border:1px solid black;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #dec380;
}

#footer {
    position: absolute;
    bottom: 0;
}
.flex-container > div {
    margin: 10px;
    padding: 10px;
    font-size: 12px;
}
@media only screen and (min-device-width: 1000px){
    .padding-for-header{
        padding: 10px 10px;
    }
    .header-center{
        align-content: center;
        text-align: center;
    }
    .header-text{
        background-color: azure;
        padding : 10px;
        font-size: 22px;
        font-family: 'Roboto Bold';
        color: #263c53;
    }
    .header-text:hover{
        color:red;
    }
    .text-font{
        font-family: Andalus;
    }
    .shop-name-text{
        font-size:50px;
        font-family: Andalus;
        color: black;
        front-weight: 900;
    }
    .background-shop-name{
        padding-left: 10px;
        padding-right: 10px;
        background-color: azure;
    }
    .infor-form{
        background-color: #decd8d;
        margin: auto;
        min-height: 600px;
        border-radius: 8px;
    }
    .header-container-text{
        font-family: Andalus;
        font-size: 30px;
    }
    .waren-korb{
        min-height: 100px;
        background-color: #dec380;
    }
}

@media only screen and (min-device-width: 768px){
    .padding-for-header{
        padding: 10px 10px;
    }
    .header-center{
        align-content: center;
        text-align: center;
    }
    .header-text{
        background-color: azure;
        padding : 10px;
        font-size: 22px;
        font-family: 'Roboto Bold';
        color: #263c53;
    }
    .header-text:hover{
        color:red;
    }
    .text-font{
        font-family: Andalus;
    }
    .shop-name-text{
        font-size:50px;
        font-family: Andalus;
        color: black;
        front-weight: 900;
    }
    .background-shop-name{
        padding-left: 10px;
        padding-right: 10px;
        background-color: azure;
    }
    .infor-form{
        background-color: #decd8d;
        margin: auto;
        min-height: 600px;
        border-radius: 8px;
    }
    .header-container-text{
        font-family: Andalus;
        font-size: 30px;
    }
    .waren-korb{
        min-height: 100px;
        background-color: #dec380;
    }
    .colum-halb{
        width: 90%;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        padding-right: 15px;
        padding-left: 15px;
        width: auto !important;
    }
}

@media only screen and (min-device-width: 360px){
    .padding-for-header{
        padding: 5px 5px;
    }
    .header-center{
        align-content: center;
        text-align: center;
    }
    .header-text{
        background-color: azure;
        padding : 10px;
        font-size: 22px;
        font-family: 'Roboto Bold';
        color: #263c53;
    }
    .header-text:hover{
        color:red;
    }
    .text-font{
        font-family: Andalus;
    }
    .shop-name-text{
        font-size:50px;
        font-family: Andalus;
        color: black;
        front-weight: 900;
    }
    .background-shop-name{
        padding-left: 10px;
        padding-right: 10px;
        background-color: azure;
    }
    .infor-form{
        background-color: #decd8d;
        margin: auto;
        min-height: 600px;
        border-radius: 8px;
    }
    .header-container-text{
        font-family: Andalus;
        font-size: 30px;
    }
    .waren-korb{
        min-height: 100px;
        background-color: #dec380;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        position: relative;
        padding-right: 0px;
        padding-left: 0px;
        width: auto !important;
    }
    .container {
        max-width: 1000px !important;
        width: 100% ;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: auto;
    }
}
