<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>
    <link rel="stylesheet" href="../style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<header class="header-center shop-name-text">
    <span class="background-shop-name">Asia Pizza</span>
</header>
<nav class="header-center padding-for-header">
    <button class="header-text" onclick="location.href='Index.html'">Übersicht</button>
    <button class="header-text" style="color: red;" onclick="location.href='Bestellung.html'">Bestellung</button>
    <button class="header-text" onclick="location.href='Kunden.html'">Kunden</button>
    <button class="header-text" onclick="location.href='Baecker.html'">Bäcker</button>
    <button class="header-text" onclick="location.href='Fahrer.html'">Fahrer</button>
</nav>
<section class="infor-form-full">
    <div class="infor-form my-container">
        <div class="text-center py-2 border-bottom-0">
            <span class="header-container-text" >Bestellung</span>
        </div>
        <div class="row text-font">
            <div class="col-lg "    >
                <span class="opening-sentence">Bitte Wählen Sie Ihre Bestellung</span>

                <br/>
                <div class="row pizza-1">
                    <div class="col-lg-3 text-center with-image" >
                        <img style="max-height: 100px;" class="rounded " src="../image/Pizza1.png">
                    </div>
                    <div class="col-lg-4 pizza-name-position" >
                        <span id="pizza-infor-0"></span> <i class="fa fa-euro"></i>
                    </div>
                    <div class="col-lg-1 select-pizza-position" >
                       <select id="select-pizza-0 ">
                           <option value="0">0</option>
                           <option value="1">1</option>
                           <option value="2">2</option>
                           <option value="3">3</option>
                           <option value="4">4</option>
                           <option value="5">5</option>
                       </select>
                    </div>
                    <div class="col-lg-4 in-warenkorb-position" >
                        <a id="button-pizza-0" data-id="0" onclick="setWareninKopf(this)" class="btn-in-warenkorb" type="button" >
                            <i class="fa fa-cart-plus" style='font-size:20px'></i>
                            <span>In Warenkorb</span>
                        </a>
                    </div>
                </div>
                <br/>

                <div class="row pizza-2">
                    <div class="col-lg-3 text-center with-image" style="padding-left:0px;">
                      <img style="max-height: 100px;" src="../image/single-pizza-pic.png">
                    </div>
                    <div class="col-lg-4 pizza-name-position" >
                        <span id="pizza-infor-1" ></span> <i class="fa fa-euro"></i>
                    </div>
                    <div class="col-lg-1 select-pizza-position" >
                        <select id="select-pizza-1">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-lg-4 in-warenkorb-position" >
                        <a id="button-pizza-1" data-id="1" onclick="setWareninKopf(this)" class="btn-in-warenkorb" type="button" >
                            <i class="fa fa-cart-plus" style='font-size:20px'></i>
                            <span>In Warenkorb</span>
                        </a>
                    </div>
                </div>
                <br/>

                <div class="row pizza-3">
                    <div class="col-lg-3 text-center with-image" >
                        <img style="max-height: 100px;" src="../image/Pizza3.png">
                    </div>
                    <div class="col-lg-4 pizza-name-position" >
                        <span id="pizza-infor-2" ></span> <i class="fa fa-euro"></i>
                    </div>
                    <div class="col-lg-1 select-pizza-position">
                        <select id="select-pizza-2">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-lg-4 in-warenkorb-position" >
                        <a id="button-pizza-2" data-id="2" onclick="setWareninKopf(this)" class="btn-in-warenkorb" type="button" >
                            <i class="fa fa-cart-plus" style='font-size:20px'></i>
                            <span>In Warenkorb</span>
                        </a>
                    </div>
                </div>
                <br/>

                <div class="row pizza-4">
                    <div class="col-lg-3 text-center with-image" style="padding-left: 0px;">
                        <img style="max-height: 100px;" src="../image/Pizza4.png">
                    </div>
                    <div class="col-lg-4 pizza-name-position" >
                        <span id="pizza-infor-3" ></span> <i class="fa fa-euro"></i>
                    </div>
                    <div class="col-lg-1 select-pizza-position" >
                        <select id="select-pizza-3">
                            <option selected value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-lg-4 in-warenkorb-position" >
                        <a id="button-pizza-3" data-id="3" onclick="setWareninKopf(this)" class="btn-in-warenkorb" type="button" >
                            <i class="fa fa-cart-plus" style='font-size:20px'></i>
                            <span>In Warenkorb</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--right site-->
            <div class="col-lg">
                <span class="opening-sentence">Ihre WarenKorb</span> <br />
                <select id="waren-korb" size="4" class="waren-korb border border-dark">

                </select>
                <div class="row" style="padding-top: 10px;">
                    <div class="col-lg text-right">
                        <input id="pizza-entwerden" type="button" class="btn-normal" value="Eine Pizza entwerfen">
                    </div>
                    <div class="col-lg text-left">
                        <input id="warenkorb-leeren" type="button" class="btn-normal" value="Warenkkorb lerren">
                    </div>
                </div>
                <div class="preis-order">Preis <span id="total-preis"></span> <span class="fa fa-euro"></span></div> <br/>
                <div style="padding-bottom: 10px;">
                    <span>Ihre Daten</span>
                    <div>
                        <span>Vor Name</span> <br/>
                        <input type="text" id="firstname"><br/>
                        <span>Nach Name</span> <br/>
                        <input type="text" id="lastname"><br/>
                        <span>Strasse</span> <br/>
                        <input type="text" id="street"><br/>
                        <span>Hausnummer</span> <br/>
                        <input type="text" id="street-number"><br/>
                        <span>Postleizahl</span> <br/>
                        <input type="text" id="post-code"><br/>
                        <span>Stadt</span> <br/>
                        <input type="text" id="stadt"><br/>
                        <div class="row" style="padding-top: 10px;">
                            <div class="col-lg text-right">
                                <input id="senden" type="button" class="btn-senden" value="Senden" style="min-width: 140px;">
                            </div>
                            <div class="col-lg text-left">
                                <input id="delete-input" type="button" class="btn-delete-all" value="Eingaben löschen">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
<footer >
    <span id="footerSlogan" style="color: #ffffff; opacity:0.3; font-size:14px">© 2018 Tai Linh Du. All Rights Reserved  </span>
</footer>
<script type = "text/javascript" src = "../js/bestellung.js"></script>
</html>