<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="header-center shop-name-text">
    <span class="background-shop-name">Asia Pizza</span>
</div>
<nav class="header-center padding-for-header">
    <button class="header-text" onclick="location.href='Index.html'">Übersicht</button>
    <button class="header-text" onclick="location.href='Bestellung.html'">Bestellung</button>
    <button class="header-text" onclick="location.href='Kunden.html'">Kunden</button>
    <button class="header-text" onclick="location.href='Baecker.html'">Bäcker</button>
    <button class="header-text" onclick="location.href='Fahrer.html'">Fahrer</button>
</nav>
</body>
</html>