<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bestellung</title>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div class="header-center shop-name-text">
    <span class="background-shop-name">Asia Pizza</span>
</div>
<nav class="header-center padding-for-header">
    <button class="header-text" onclick="location.href='Index.html'">Übersicht</button>
    <button class="header-text" onclick="location.href='Bestellung.html'">Bestellung</button>
    <button class="header-text" onclick="location.href='Kunden.html'">Kunden</button>
    <button class="header-text" onclick="location.href='Baecker.html'">Bäcker</button>
    <button class="header-text" onclick="location.href='Fahrer.html'">Fahrer</button>
</nav>
</body>
</html>